{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "<Styles>": "./styles",
          "<Layouts>": "./layouts",
          "<UI>": "./components/base-ui",
          "<Features>": "./components/features",
          "<Helpers>": "./helpers",
          "<Configs>": "./configs",
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}